@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
    height: 80px;
    width: 100%;
    background: #34495e;
}

nav .logo {
    font-size: 35px;
    font-weight: bold;
    padding: 0px 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,
a:hover {
    border: 1px solid white;
    transition: .5s;
}

#div1 {
    margin: 20px 0 50px 20px;
}

#div1 #todoInput {
    width: 400px;
    height: 20px;
    color: black;
}

#div1 #InputSubmit {
    width: 100px;
    height: 25px;
    background: #34495e;
    color: white;
    border: none;
    cursor: pointer;

}

#div4 {
    position: relative;

}

#div2 {
    width: 35%;
    height: 500px;
    border: 2px solid black;
    overflow-y: scroll;
    position: absolute;

}

#div3 {
    width: 35%;
    height: 500px;
    border: 2px solid black;
    overflow-y: scroll;
    position: absolute;
    left: 473px;
}


#div5{
    border: 2px solid black;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 961px;
    color: black;
    font-size: 20px;
    padding: 50px 0 0 100px;
}