@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
    height: 80px;
    width: 100%;
    background: #34495e;
}

nav .logo {
    font-size: 35px;
    font-weight: bold;
    padding: 0px 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,
a:hover {
    border: 1px solid white;
    transition: .5s;
}

#maindiv {
    /* border: 2px solid blue; */
    display: flex;
    position: relative;
    top: 170px;
    width: 700px;
    height: 200px;
    justify-content: space-evenly;
    margin: 0 auto;
    font-size: 18px;
    background: #34495e;
    
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

#maindiv input {
    margin: 13px 0;
    display: flex;
    color: black;
}

#maindiv p {
    margin: 13px 0;
    color: white;
}

button{
    position: relative;
    top: 200px;
    left: 622px;
    width: 100px;
    height: 30px;
    background: #34495e;    
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #779bbe;
}